.container {
  max-width: 1440px;
  padding: 0 16px;
  margin: 0 auto;

  @media(min-width:580px){
	padding: 0 29px;
  }

  @media(min-width:820px){
	padding: 0 43px;
  }

  @media(min-width:1120px){
	padding: 0 92px;
  }
}
