.container {
  display: grid;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  grid-template-areas:
    "logo navigation"
    "search search";

  @media (min-width: 820px) {
    .container {
      grid-template-areas: "logo search navigation";
      grid-template-columns: 94px 1fr auto;
      align-items: center;
    }
  }

  .logo {
    grid-area: logo;
  }

  .search {
    grid-area: search;
  }

  .navigation {
    grid-area: navigation;
  }
}
