.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #eeeff2;
}
.container {
  display: grid;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  grid-template-areas:
    "logo navigation"
    "search search";
}

@media (min-width: 820px) {
  .container {
    grid-template-areas: "logo search navigation";
    grid-template-columns: 94px 1fr auto;
    align-items: center;
  }

  .logo {
    grid-area: logo;
    width: 94px;
  }

  .search {
    grid-area: search;
    width: 100%;

    @media (min-width: 1120px) {
      max-width: 514px;
    }

    @media (min-width: 820px) {
      max-width: 480px;
      justify-self: center;
    }
  }

  .navigation {
    grid-area: navigation;
  }
}
